html, body {
  height:        100%;
  margin:        0;
  padding:       0;
}

/* Controls on the Google Map */
.map-ctrl-box {
  background-color: #fff;
  border-radius: 3px;
  box-shadow:    0px 1px 8px rgba(0, 0, 0, .2);
  margin:        10px;
}

/* Google Map */
#main-container {
  height:        100%;
  width:         100%;
  padding:       0;
}
#row-container {
  height:        100%;
  width:         100%;
  margin:        0;
}
#map {
  height:        100%;
}

/* Legend */
#legend {
  font-family:   Roboto, Arial, sans-serif;
  background:    #fff;
  padding:       5px;
  display:       none;
}
#legend h3 {
  margin:        5px;
  text-align:    center;
  font-size:     14pt;
  font-weight:   bold
}
#legend img {
  vertical-align: middle;
  margin:        5px;
}

/* Center button */
#ctrl-center-text {
  color:         #000;
  font-family:   Roboto, Arial, sans-serif;
  font-size:     11px;
  line-height:   14px;
  padding:       8px;
  text-align:    center;
  cursor:        pointer;
}

/* InfoWindow */
#placeImage {
  float:         right;
}
span.stars, span.stars span {
  display:       block;
  background:    url('../img/stars.png') 0 -16px repeat-x;
  width:         80px;
  height:        16px;
}
span.stars span {
  background-position: 0 0;
}

/* List of places */
#placesList {
}
#placesList .placeItem {
  padding-bottom: 8pt;
  border-top: 2px solid #999;
}
#placesList .placeItem {
  padding-bottom: 8pt;
  border-top: 2px solid #999;
}
#placesList .selected {
  background-color: #ffc;
}
#placesList .normal {
  background-color: #fff;
}

/* debug */
#debug {
  font-family: monospace;
  font-size: 8pt;
}
#debug span {
  display: block;
}
#debug span.log {
  color: black;
}
#debug span.info {
  color: black;
}
#debug span.warn {
  color: orange;
}
#debug span.error {
  color: red;
}