html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Google Map */
#map {
  margin: 0px;
  height: 100%;
  width: 67%;
  left: 0;
  border: 2px solid #999;
}

/* Legend */
#legend {
  font-family: Arial, sans-serif;
  background: #fff;
  padding: 10px;
  margin: 5px;
  padding: 5px;
  border: 2px solid #ccc;
  display: none;
}
#legend h3 {
  margin: 5px;
  text-align: center;
  font-size: 14pt;
  font-weight: bold
}
#legend img {
  vertical-align: middle;
  margin: 5px;
}

/* InfoWindow */
#placeImage {
  float: right;
}
span.stars, span.stars span {
  display: block;
  background: url('../img/stars.png') 0 -16px repeat-x;
  width: 80px;
  height: 16px;
}
span.stars span {
  background-position: 0 0;
}
