html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Controls on the Google Map */
.map-ctrl-box {
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0,0,0,.3);
  margin: 5px;
}

/* Google Map */
#main-container {
  height: 100%;
  width: 100%;
}
#row-container {
  height: 100%;
  width: 100%;
}
#map {
  height: 100%;
  margin: 0;
  left: 0;
  border: 0;
}

/* Legend */
#legend {
  font-family: Roboto, Arial, sans-serif;
  background: #fff;
  padding: 5px;
  display: none;
}
#legend h3 {
  margin: 5px;
  text-align: center;
  font-size: 14pt;
  font-weight: bold
}
#legend img {
  vertical-align: middle;
  margin: 5px;
}

/* Center button */
#ctrl-center-text {
  color: #191919;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 38px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  cursor: pointer;
}

/* InfoWindow */
#placeImage {
  float: right;
}
span.stars, span.stars span {
  display: block;
  background: url('../img/stars.png') 0 -16px repeat-x;
  width: 80px;
  height: 16px;
}
span.stars span {
  background-position: 0 0;
}
